.u-section-1 {
  background-image: none;
  min-height: 848px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 820px);
  height: 216px;
  background-image: none;
  margin: 632px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 415px;
  height: 447px;
  margin: -839px calc(((100% - 1140px) / 2) + -29px) 0 auto;
}

.u-section-1 .u-image-1 {
  width: 428px;
  min-height: 376px;
  background-image: url("images/fg_1502.png");
  margin: -55px calc(((100% - 1140px) / 2) + 285px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 713px;
  margin: -733px calc(((100% - 1140px) / 2) + 13px) 0 auto;
}

.u-section-1 .u-group-2 {
  width: 604px;
  min-height: 568px;
  margin: -686px auto 60px calc(((100% - 1140px) / 2) + -13px);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 24px 0;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px 199px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 44px auto 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 810px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 820px);
    height: 162px;
    margin-top: 648px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -785px;
    margin-right: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    min-height: 292px;
    margin-top: -25px;
    margin-right: calc(((100% - 940px) / 2) + 185px);
  }

  .u-section-1 .u-image-2 {
    width: 483px;
    height: 659px;
    margin-top: -659px;
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-group-2 {
    width: 490px;
    min-height: 497px;
    margin-top: -659px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1000px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: 838px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-shape-2 {
    width: 301px;
    height: 295px;
    margin-top: -633px;
    margin-right: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    width: 382px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 153px);
  }

  .u-section-1 .u-image-2 {
    width: 450px;
    height: 520px;
    margin-top: -520px;
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    min-height: 427px;
    margin-top: -869px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 960px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 511px);
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -603px;
    margin-right: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    width: 367px;
    min-height: 250px;
    margin-left: calc(((100% - 540px) / 2) + 61px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 0 35px;
  }

  .u-section-1 .u-image-2 {
    width: 397px;
    height: 478px;
    margin-top: -476px;
    margin-right: calc(((100% - 540px) / 2) + 21px);
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    min-height: 371px;
    margin-top: -849px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 956px;
  }

  .u-section-1 .u-shape-1 {
    height: 137px;
    margin-top: 819px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -485px;
    margin-right: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    width: 307px;
    margin-top: -134px;
    margin-left: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 305px;
    height: 367px;
    margin-top: -367px;
    margin-right: 50px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 411px;
    margin-top: -822px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}