.u-section-1 {
  min-height: 50vw;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 376px);
  left: 0;
  right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 71px auto 60px;
}

.u-section-1 .u-image-1 {
  min-height: 499px;
  pointer-events: auto;
  background-image: url("images/Screenshot2021-08-22at13.48.53.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 499px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 34px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 43px 26px 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 8px;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 81px 33px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 684px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 362px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 614px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 253px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.0625rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-shape-1 {
    height: 468px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -397px;
  }

  .u-section-1 .u-image-1 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 936px;
  }

  .u-section-1 .u-shape-1 {
    height: 329px;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -258px;
  }

  .u-section-1 .u-image-1 {
    min-height: 298px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-2 .u-image-1 {
  width: 565px;
  height: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 27px 49px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-2 .u-image-1 {
    width: 533px;
    height: 90px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: -57px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-2 .u-image-1 {
    width: 396px;
    height: 67px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 58px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 490px;
}

.u-section-3 .u-shape-1 {
  height: 408px;
  width: 532px;
  background-image: none;
  margin: 60px 0 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1034px;
  margin: -384px auto 84px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  height: 298px;
  transform-origin: center top;
  width: 16px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-3 .u-shape-1 {
    height: 457px;
    width: 407px;
    margin-top: 49px;
    margin-right: auto;
    margin-left: 135px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 451px;
    margin-top: -457px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-shape-1 {
    height: 673px;
    width: 271px;
    margin-top: 33px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 305px;
    margin-top: -627px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 468px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 397px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 47px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin-top: 201px;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 397px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0;
}

.u-section-4 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }
}